.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .slider-inner {
    display: flex;
    width: 100%;
    animation: slide 15s infinite;
  }
  .slider-inner img {
    width: 100%;
    flex-shrink: 0;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(0);
    }
  }
  